body{
  background-color:#F49894;
  text-align:center;
}

h2{
  color:#F49894;
  background-color:#eef5db;
  padding:15px;
}

h3{
  color:#F49894;
  background-color:#eef5db;
}

h4{
  color:#F49894;
  background-color:#eef5db;
}

p{
  color:#F49894;
  background-color:#eef5db;
  padding:10px;
}

label{
  color:#F49894;
}
